openai
pandas
numpy
python-dotenv
ipykernel
langchain
langchain-community 
langchain-core
langchain-openai
langchain-groq
langchainhub
langchain-objectbox
streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
cassio
beautifulsoup4
wikipedia
arxiv
sentence_transformers
PyPDF2
pymupdf
#Llmaindex Dependencies
llama-index
transformers
einops
accelerate
bitsandbytes
#Hackathon
docarray
unstructured

